h1 {
    font-family: 'Vidaloka', serif;
    font-size: 4.5em;
}

h2 {
    font-family: 'Vdaloka', serif;
    font-weight: 400;
    font-size: 2em;
    margin-bottom: 10px;
}

html {
    background-color: black;
}

.wrap {
    margin: 0 auto;
    font-family: 'AR One Sans', sans-serif;
    line-height: 1.6;
    color: white;
    width: 100vw;
}


.box1 {
    padding: 2rem;
    padding-top: 20rem;
    margin-top: -45rem;
    margin-bottom: 10rem;
}

.box1 h1 {
    margin-top: -1rem;
}

.intro {
    width: 35%;
    padding: 2rem;
    margin-bottom: 50rem;
    margin-top: -55rem;
    margin-left: 45rem;
}

.box {
    padding: 2em;
    margin-bottom: 10em;
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: flex-start;
}

h2 {
  flex: 0 0 30%;
}

h2 {
  opacity: 0;
  transform: translateY(50px);
}


h2.reveal {
  animation: revealH2 1s ease-out forwards;
}


@keyframes revealH2 {
  0% {
    opacity: 0;
    transform: translateY(50px);
    letter-spacing: 2px;
  }
  60% {
    opacity: 1;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    letter-spacing: normal;
  }
}


p {
    flex: 0 0 40%;
}

p {
  opacity: 0;
  transform: translateY(70px);
  animation: fadeUp 3s forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 70%;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.box2 .text {
    max-width: 550px;
    margin-right: 15rem;
}

.no-grid {
    padding: 2em;
    margin-bottom: 10em
}

.no-grid p {
    width: 40%;
}

.box3 {
    margin-top: -30rem;
    padding: 0 10rem;
    margin-bottom: 20rem;
    color: black;
}

.vine1 {
    position: relative;
    top: -40rem;
    display: block;
    margin: 0 auto;
}

.vine2 {
    position: relative;
    display: block;
    top: -10rem;
    margin: 0 auto;
}

.box3 .text {
    max-width: 550px;
    margin-left: 5rem;
}

.box4 {
    color: black;
    margin-bottom: -20rem;
}

.hanging {
    position: relative;
    width: 100%;
}

.hanging .photo {
    position: absolute;
    z-index: 2;
    animation: swing 4s ease-in-out infinite alternate;
    transform-origin: top center;
}

.hanging-photo1 {
  top: 50%;
  left: 10%;
}

.hanging-photo2 {
  top: 69%;
  left: 80%;
}

.hanging-photo3 {
  top: 45%;
  left: 50%;
}


.box4 h2 {
    margin-left: 15rem;
}

.box4 p {
    flex: 1;
    max-width: 40%;
}

.box5 .text {
    max-width: 550px;
    margin-right: 20rem;
}

.box5 {
    padding-bottom: 15rem;
    margin-top: -40rem;
}

.background1 {
    background-image: url(images/background1.png);
    z-index: -3;
    height: 100vh;
    top: 0;
}

.background2 {
    background-image: url(images/background2.png);
    z-index: -2;
    height: 130vh;
    top: -30vh;
}

.background3 {
    background-image: url(images/background3.png);
    z-index: -1;
    height: 130vh;
    top: -30vh;
}

.background {
    background-size: cover;
    background-position: center;
    position: sticky;

}

img {
  animation: float 4s ease-in-out infinite;
}

.footer {
    text-align: center;
    margin-bottom: 2rem;
    color: white;
    position: relative;
    top: -20rem;
}

.footer a {
  color: white;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes swing {
  0% {
    transform: rotate(-4deg) translateY(0);
  }

  50% {
    transform: rotate(0deg) translateY(-20px);
  }

  100% {
    transform: rotate(4deg) translateY(0);
  }
}




@media (max-width: 1200px) {

  p {
      font-size: 1em;
  }

  .intro {
      width: 50%;
      margin-left: 0;
  }

  .box3 img, .box5 img {
    width: 400px;
    height: auto;
  }

  .box2 img {
      width: 500px;
      height: auto;
  }

  .box3 {
    padding: 2px;
  }

  .box3 .text {
    margin-left: 0;
}

  .photo {
      width: 100px;
      height: auto;}
  

    
  .hanging {
      margin-top: 10rem;
  }

 .box {
  gap: 10px;
 }


  }

  @media (max-width: 1000px) {

    .box {
        flex-direction: column;
        align-items: center;
    }

    .box2 .text, .box5 .text {
        margin: 0;
    }

    .box3 text, .box4 p{
    width: 500px;
    margin: 0;
    }

    .box2 img {
      margin-top: 5rem;
    }

    .box4 h2 {
        margin: 0;
        margin-bottom: 1rem;
    }

    .box4 p {
        max-width: 100%;
    }

    p {
      font-size: 0.9em;
    }

    .hanging {
      margin-top: 10rem;
    }

    .box2 img, .box3 img, .box5 img {
    width: 300px;
    height: auto;
  }

  .box3 {
    margin-top: -35rem;
  }

  .fairy img {
    width: 500px;
    height: auto;
  }

  }

@media (max-width: 800px) {
    .intro {
        width: 70%;
        position: relative;
        margin-top: -45rem;
    }

    h1 {
        font-size: 3em;}

    .box {
        margin-bottom: 5em;
    }

    .vine2 {
        top: -2rem;
        margin-bottom: 10rem;
    }

    .box4 {
        margin-bottom: -10rem;
    }

    .box3 .text {
      width: 90%;
    }

    .box5 {
      margin-top: -45rem;
    }
}