html {
    font-family: "Archivo Narrow", sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    line-height: 1.6;
}

.box1 {
    height: 27vh;
    padding: 8em;
    text-align: center;
    background-image: url(CSS/image/image2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color:white;
}

h1 {
    font-size: 4em;
    margin-bottom: 0;
}

.box2 {
    background-color: black;
    color: white;
    padding: 0.3em 17em 2em;
}

h3 {
    text-align: center;
    font-size: 2.2em;
    margin-bottom: 0.85em;
}

.box3 h3, .box4 h3 {
    margin-top: 0;
    padding-top: 1em;
}

.box2 img {
    float: right;
    margin: 0 0 20px 20px;
}

.box3 {
    padding: 0 17em;
    /* border: 2px solid red; */
    padding-bottom: 5em;
    background-color: rgb(234, 146, 199);
    color: rgb(35, 35, 69);
}

.grid_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(3, auto);   
    row-gap: 20px;
    column-gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.grid_item {
    display: flex;
    align-items: center;
    /* border: 1px solid blue; */
}

.grid_item img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    margin-right: 10px;
    flex: 0 0 200px;
}

.text {
    width: 200px;
    flex: 1; 
    min-width: 0;
    border: 1px solid transparent;
}

.text p {
    margin: 0;
    padding: 0;
}


.photo_title {
    font-weight: bold;
    font-size: 1.2rem;
}

.box4 {
    padding: 0 25em 5em 25em;
    background-color: black;
    color: white;
}

.box4 p {
    text-align: center;
    font-size: 1.4em;
    margin-top: 0;
}

.box5 {
    background-color: gray;
    padding: 2em 19em;
    font-size: 0.9em;
}