h1 {
    font-family: 'Vidaloka', serif;
    font-size: 4.5em;
}

h2 {
    font-family: 'Vdaloka', serif;
    font-weight: 400;
    font-size: 2em;
    margin-bottom: 10px;
}

html {
    background-color: black;
}

.wrap {
    margin: 0 auto;
    font-family: 'AR One Sans', sans-serif;
    line-height: 1.6;
    color: white;
    width: 100vw;
}


.box1 {
    padding: 2rem;
    padding-top: 20rem;
    margin-top: -45rem;
    margin-bottom: 10rem;
}

.box1 h1 {
    margin-top: -1rem;
}

.intro {
    width: 35%;
    padding: 2rem;
    margin-bottom: 50rem;
    margin-top: -55rem;
    margin-left: 45rem;
}

.box {
    padding: 2em;
    margin-bottom: 10em;
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: flex-start;
}

h2 {
  flex: 0 0 30%;
}

h2 {
  opacity: 0;
  transform: translateY(50px);
}


h2.reveal {
  animation: revealH2 1s ease-out forwards;
}


@keyframes revealH2 {
  0% {
    opacity: 0;
    transform: translateY(50px);
    letter-spacing: 2px;
  }
  60% {
    opacity: 1;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    letter-spacing: normal;
  }
}


p {
    flex: 0 0 40%;
}

p {
  opacity: 0;
  transform: translateY(70px);
  animation: fadeUp 3s forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 70%;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.box2 .text {
    max-width: 550px;
    margin-right: 15rem;
}

.no-grid {
    padding: 2em;
    margin-bottom: 10em
}

.no-grid p {
    width: 40%;
}

.box3 {
    margin-top: -30rem;
    padding: 0 10rem;
    margin-bottom: 30rem;
}

.box3 .text {
    max-width: 55opx;
    margin-left: 5rem;
}

.box4 {
    margin-bottom: 30rem;
}

.box4 h2 {
    margin-left: 15rem;
}

.box4 p {
    flex: 1;
    max-width: 40%;
}

.box5 .text {
    max-width: 550px;
    margin-right: 20rem;
}

.box5 {
    padding-bottom: 40rem;
    margin-top: -30rem;
}

.background1 {
    background-image: url(images/background1.png);
    z-index: -3;
    height: 100vh;
    top: 0;
}

.background2 {
    background-image: url(images/background2.png);
    z-index: -2;
    height: 130vh;
    top: -30vh;
}

.background3 {
    background-image: url(images/background3.png);
    z-index: -1;
    height: 130vh;
    top: -30vh;
}

.background {
    background-size: cover;
    background-position: center;
    position: sticky;

}

img {
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}