body {
    margin: 0;
    padding: 0;
    background: #1B1411;
    color: white;
}

.box1 {
    text-align: center;
    padding-top: 80px;
    background-image: url(images/ebi-fry-main.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 65vh;
    width: 100%;
    padding: 10rem 0 0;
}

.box1 h1 {
    font-family: "Crimson Pro", serif;
    font-size: 120px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0vh;
}

.box h2 {
    font-family: "Crimson Pro", serif;
    font-weight: 200;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
}

.box1 h3 {
    color: #DAC8C1;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 10px;
    width: 25%;
    margin: 0 auto;
    border: #dac8c1 2px solid;
    margin-bottom: 0.3em;
}

.grid_container h2 {
    font-family: "Crimson Pro";
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.ingredients {
    border: #DAC8C1 2px solid;
    padding: 4vh;
    color: #DAC8C1;
    border-radius: 20px;
    height: 100%;
}

.instructions {
    padding: 4vh 3vh;
    border-radius: 20px;
    background: #DAC8C1;
       color: #1B1411;
}

.instructions img {
    width: 100%;
    border-radius: 20px;
    margin: 2vh auto;
}

.instructions ol {
    font-family: "Inter";
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ingredients ul {
    font-family: "Inter";
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

li {
    margin-bottom: 10px;
}

.footer {
    text-align: center;
    padding: 3vh 0;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #DAC8C1;
}

@media (min-width: 1200px) {
    .grid_container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 20px;
        margin: 4vh 10%;
        width: 70%;
    }
    .ingredients {
        height: 530px;
        position: sticky;
        top: 20px;
    }
}

@media (max-width: 1199px) {
    .box1 h1 {
        font-size: 90px;
    }

    .box1 h2 {
        font-size: 20px;
    }

    .box1 h3 {
        width: 40%;
        font-size: 16px;
    }
    .grid_container {
        margin: 4vh 5%;
        width: 90%;
    }
    .ingredients {
        margin-bottom: 4vh;
    }
}

@media (max-width: 600px) {
    .box1 h1 {
        font-size: 60px;
        padding: 10vh 10px 0;
    }

    .box1 h2 {
        font-size: 16px;
    }
    
    .box1 h3 {
        width: 60%;
        font-size: 15px;
    }
    .grid_container h2 {
        font-size: 24px;
    }
    .instructions img {
        height: auto;
    }
}